// ButtonPage

.btn {
    margin: 10px;
}
.btn-block {
    margin: 0;
    margin-bottom: 10px;
}


// GridPage
.example-grid {
    margin: -15px;
    .row {
        border: 1px solid red;
        padding: 5px;
        .col {
            padding: 0.625rem;
            background-color: #eee;
            text-align: center;
            border: 1px solid blue;
        }
    }
}