@keyframes chryLoad {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.#{$chryload-prefix} {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    background-color: $default-bg-color;
    .line {
        div {
            position: absolute;
            left: 50%;
            // top:0;
            width: 10%;
            height: 100%;
            margin-left: -5%;
            &:after,
            &:before {
                position: absolute;
                content: '';
                display: block;
                height: 30%;
                width: 100%;
                border-radius: 50%/16.7%;
                background-color: #888;
            }
            &:before {
                top: 0;
            }
            &:after {
                bottom: 0;
            }
            &:nth-child(1) {
                &:before {
                    animation: chryLoad 1.2s linear 0s infinite;
                }
                &:after {
                    animation: chryLoad 1.2s linear 0.6s infinite;
                }
            }
            &:nth-child(2) {
                transform: rotate(30deg);
                &:before {
                    animation: chryLoad 1.2s linear 0.1s infinite;
                }
                &:after {
                    animation: chryLoad 1.2s linear 0.7s infinite;
                }
            }
            &:nth-child(3) {
                transform: rotate(60deg);
                &:before {
                    animation: chryLoad 1.2s linear 0.2s infinite;
                }
                &:after {
                    animation: chryLoad 1.2s linear 0.8s infinite;
                }
            }
            &:nth-child(4) {
                transform: rotate(90deg);
                &:before {
                    animation: chryLoad 1.2s linear 0.3s infinite;
                }
                &:after {
                    animation: chryLoad 1.2s linear 0.9s infinite;
                }
            }
            &:nth-child(5) {
                transform: rotate(120deg);
                &:before {
                    animation: chryLoad 1.2s linear 0.4s infinite;
                }
                &:after {
                    animation: chryLoad 1.2s linear 1.0s infinite;
                }
            }
            &:nth-child(6) {
                transform: rotate(150deg);
                &:before {
                    animation: chryLoad 1.2s linear 0.5s infinite;
                }
                &:after {
                    animation: chryLoad 1.2s linear 1.1s infinite;
                }
            }

        }
    }
}
@each $key, $size in $chryload-sizes {
    .#{$chryload-prefix}-#{$key} {
        width: $size;
        height: $size;
        .line div{
            &:before, &:after {
                border-radius: $size / 20;
            }
        }
    }
}
